:root{
    --color_darkest: #000;
    --color_dark_80: #363636;
    --color_dark_60: #A4A4A4;
    --color_dark_40: #BEBCBB;
    --color_dark_20: #D9DADC;
    --color_dark_20: #D9DADC;
    --color_brand_80: #161C3B;
    --color_brand_40: #00439C;
    --color_brand: #2D64E6;
    --color_secondary: #CD3D0F;

    --nav_h: 126px;
}

/* #region ******** DEBUG ******** */
.debug .jumbo{
    /* height: 110vh; */
    background-color: rgba(255, 192, 203, 0.5);
}
.debug .hero_img_wrapper{
    background-color: plum;
}
.debug #ps5-showcase{
    background-color: cornflowerblue  ;
}
.debug #games_excl,
.debug #ps_plus,
.debug #ps_now{
    background-color: lightgrey;
}
.debug #explore_ps4{
    background-color: darkkhaki;
}
.debug #discounts{
    background-color: darksalmon;
}

/* #endregion ******** DEBUG ******** */


/* #region ******** COMMON ******** */
body{
    font-family: Arial, sans-serif;
    color: var(--color_darkest);
}
h1{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
p{
    font-size: 1.4rem;
    margin: 2rem 0;
}
/* #endregion ******** COMMON ******** */


/* #region ******** UTILITY ******** */
.pseudo_fa::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.darkest_color{
    color: var(--color_darkest) !important;
}

.btn_secondary {
    color: #fff;
    background-color: var(--color_secondary);
    border-color: var(--color_secondary);
}
/* .color_dark_80{
    color: var(--color_dark_80) !important;
}
.color_dark_60{
    color: var(--color_dark_60) !important;
}
.color_dark_40{
    color: var(--color_dark_40) !important;
}
.color_dark_20{
    color: var(--color_dark_20) !important;
}
.color_dark_20{
    color: var(--color_dark_20) !important;
} */


.btn-dark {
    background-color: var(--color_dark_80);
    border:none;
}
.btn-dark:hover {
    background-color: var(--color_dark_60);
}
/* #endregion ******** UTILITY ******** */


/* #region ******** BODY ******** */

    /* #region ******** HEADER ******** */
        /* Top bar */
        #sony_bar{
            height: 50px;
            background-color: var(--color_darkest);
        }
        #sony_bar > img{
            height: 50%;
        }

        /* Nav bar  */
        .dropdown_icon::after {
            font-size: .7rem;
            color: var(--color_dark_60);
            content: "\f078";
            margin-left: .255em;
            vertical-align: center;
        }

        .nav_icons{
            color: var(--color_dark_80);
        }

        /* Jumbotron */
        .jumbo{
            margin-top: var(--nav_h);
        }
        .hero_img_wrapper{
            height: 75vh;
            background-image: url(../img/jumbo-bg.png);
            background-size: cover;
            background-position-x: center;
            padding: 1rem;
        }
    /* #endregion ******** HEADER ******** */

    /* #region ******** MAIN ******** */

    /* #endregion ******** MAIN ******** */

    /* #region ******** FOOTER ******** */
        #site_footer{
            background-color: var(--color_brand_40);
            color: white;
        }
    /* #endregion ******** FOOTER ******** */

/* #endregion ******** BODY ******** */


/* #region ******** MEDIA QUERY ******** */

@media screen and (min-width: 575.98px){
    .hero_img_wrapper{
        padding: 3rem;
    }
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
/* #endregion ******** MEDIA QUERY ******** */