:root{
    --color_darkest: #000;
    --color_dark_90: #1F1F1F;
    --color_dark_80: #363636;
    --color_dark_60: #727272;
    --color_dark_40: #A4A4A4;
    --color_dark_20: #BEBCBB;
    --color_dark_10: #D9DADC;
    --color_brand_80: #161C3B;
    --color_brand_40: #00439C;
    --color_brand: #2D64E6;
    --color_brand_light: #187FD2;
    --color_secondary: #CD3D0F;

    --nav_h: 126px;
}

/* #region ******** DEBUG ******** */
.debug .jumbo{
    background-color: rgba(255, 192, 203, 0.5);
}
.debug .hero_img_wrapper{
    background-color: plum;
}
.debug #ps5_showcase{
    background-color: cornflowerblue  ;
}
.debug #games_excl,
.debug #ps_plus,
.debug #ps_now{
    background-color: lightgrey;
}
.debug #explore_ps4{
    background-color: darkkhaki;
}
.debug #discounts{
    background-color: darksalmon;
}

/* #endregion ******** DEBUG ******** */


/* #region ******** COMMON ******** */
body{
    font-family: Arial, sans-serif;
    color: var(--color_darkest);
}
h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}
p{
    font-size: 1.4rem;
    margin: 2rem 0;
}
/* #endregion ******** COMMON ******** */


/* #region ******** UTILITY ******** */
.pseudo_fa::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.color_darkest{
    color: var(--color_darkest) !important;
}

.btn_primary{
    color: #fff;
    background-color: var(--color_brand);
    border-color: var(--color_brand);
}
.btn_secondary {
    color: #fff;
    background-color: var(--color_secondary);
    border-color: var(--color_secondary);
}

.btn-dark {
    background-color: var(--color_dark_80);
    border:none;
}
.btn-dark:hover {
    background-color: var(--color_dark_60);
}
.active_card{
    border: 3px solid var(--color_brand);
}

.bg_img_wraps{
    height: 75vh;
    background-size: cover;
    background-position-x: center;
}
/* #endregion ******** UTILITY ******** */


/* #region ******** BODY ******** */

    /* #region ******** HEADER ******** */
        /* Top bar */
        #sony_bar{
            height: 50px;
            background-color: var(--color_darkest);
        }
        #sony_bar > img{
            height: 50%;
        }

        /* Nav bar  */
        .dropdown_icon::after {
            font-size: .7rem;
            color: var(--color_dark_60);
            content: "\f078";
            margin-left: .255em;
            vertical-align: center;
        }

        .nav_icons{
            color: var(--color_dark_80);
        }

        /* Jumbotron */
        .jumbo{
            margin-top: var(--nav_h);
        }
        .hero_bg{
            background-image: url(../img/jumbo-bg.png);
        }
        .px_1{
            padding: 0 1rem;
        }
        .thumbnail{
            padding: .25rem;
            border-radius: 1.5rem;
        }
    /* #endregion ******** HEADER ******** */

    /* #region ******** MAIN ******** */
        .title_payoff{
            font-size: 1.2rem;
            color: var(--color_brand_light);
            text-transform: uppercase;
            margin:0;
        }
        .subtitle{
            color: var(--color_dark_60);
            font-size: 1.5rem;
            padding-top: .5rem;
        }
        

        .ps5_accessories > [class^="col"]{
            opacity: .7;
        }
        .ps5_accessories > [class~="selected"]{
            border-bottom: 3px solid var(--color_brand_light);
            opacity: 1;
        }


        .game_bg{
            height:inherit;
            background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
        }
        
        .new_games{
            background-color: var(--color_dark_90);
        }
    /* #endregion ******** MAIN ******** */

    /* #region ******** FOOTER ******** */
        #site_footer{
            background-color: var(--color_brand_40);
            color: white;
        }
    /* #endregion ******** FOOTER ******** */

/* #endregion ******** BODY ******** */


/* #region ******** MEDIA QUERY ******** */

@media screen and (min-width: 575.98px){
    .px_1{
        padding: 0 3rem;
    }
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
/* #endregion ******** MEDIA QUERY ******** */